<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

    <http use-expressions="true" auto-config="true">
        <intercept-url pattern="/favicon.ico" access="permitAll" />
        <intercept-url pattern="/users" access="hasAnyRole('ROLE_ADMIN')" />
        <intercept-url pattern="/login*" access="permitAll"/>
        <intercept-url pattern="/**" access="hasAnyRole('ROLE_USER')"/>
        <form-login login-page="/login" always-use-default-target="true" authentication-failure-url="/loginError"
                />
        <!--<form-login />-->
        <logout delete-cookies="JSESSIONID"/>
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="currentUserDetailsService">
            <!--<user-service>-->
                <!--<user name="jimi" password="pass" authorities="ROLE_USER, ROLE_ADMIN" />-->
                <!--<user name="bob" password="pass" authorities="ROLE_USER" />-->
            <!--</user-service>-->
            <password-encoder hash="bcrypt" />
        </authentication-provider>
    </authentication-manager>


</beans:beans>